$primaryColor: rgb(145, 69, 69);
.Navbar
{
    nav {
        position: fixed;
        width: 100%;
        line-height: 60px;
        font-weight: 600;
        background-color: $primaryColor;


        ul li a {
            text-decoration: none;
            color: rgb(145, 69, 69);
            
            font-size: 16px;
        }

        .black ul {
            background: $primaryColor;
        }
        
    
     ul {
        line-height: 60px;
        list-style: none;
        background: rgba(0, 0, 0, 0);
        overflow: hidden;
        color: rgb(145, 69, 69);
        padding: 0;
        text-align: right;
        margin: 0;
        padding-right: 40px;
        transition: 1s;

            li {
                display: inline-block;
                padding: 16px 40px;;
            }
        }
    }

 
   
    .menu-icon {
        line-height: 60px;
        width: 100%;
        background: $primaryColor;
        text-align: right;
        box-sizing: border-box;
        padding: 15px 24px;
        cursor: pointer;
        color: #fff;
        display: none;
    }

}
.main{
    padding-top: 140px;
    overflow: hidden;
    }
 
    .section{
        overflow: hidden;
        padding-top: 20px;
        h2{
            color: $primaryColor;
        }
    }
    .content  h3{
        color: $primaryColor;

    }
    .text{
        font-size: 18px;
        line-height: 24px;
    }

    .skills-content{
        padding-bottom: 40px;
    }

    .skills .progress {
        height: 50px;
        display: block;
        background: none;
     .skill {
        padding: 10px 0;
        margin: 0 0 6px 0;
        text-transform: uppercase;
        display: block;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #45505b;
        .val {
            float: right;
            font-style: normal;
          }
      }
    }
      
      .skills .progress-bar-wrap {
        background: #f2f3f5;
      }
      
      .skills .progress-bar {
        width: 1px;
        height: 10px;
        transition: .9s;
        background-color: #0563bb;
      }
      