
.ContactBox{
    width:100%;
    height:100vh;
    padding-top: 120px;
    background-color:$primaryFont;

    .row > div:first-child {
        // background-color:#db8484;
        background-color:$primaryColor;

    }
    .firstBox {
        width:100%;
        height:75vh;
        background-image: url('contactBg.png');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            color:#fff;
        }
    }

    .secondBox{
        width:100%;
        height:75vh;
        background-color:#f0b8b4;;
        padding: 30px 20px;
        h2{
            color:#9F5959;
            font-size: 2em;
            text-transform: uppercase;
        }
    }

    .col-6{
        padding-right: 0;
        padding-left: 0;
        
       
    }
    .no-gutters {
        margin-right: 0;
        margin-left: 0;
    }
    .btn{
        background-color: $primaryColor;
        color: white;
        margin-left:50px;
        padding:10px 25px;
        
        &:hover{
            background-color: white;
            color: $primaryColor;
            border: 1px solid $primaryColor;
        
        }
    }
    .form-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d6baba;
      }
     .form-group textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: #d6baba;
      }
    
}
 

@media (min-width: 576px){
    .container{
        width: 100%;
    }
}
